<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<a href="#" class="logo"> <img src="/image/logo.png" alt="logo"> MediCop </a>

    <nav class="navbar">
        <!-- <a href="#home">Home</a>
        <a href="" class="drop-down">
            Services
                 <a href="#Contact">Contact <i><img src="images/icon-arrow-light.svg" alt="arrow-icon"></i></a> -->
                <!-- <ul class="visibility">
                      <li> <a href="#Contact">Contact</a></li>
                      <li><a href="#Newsletter">Newsletter</a></li>
                      <li><a href="#Linkedin">Linkedin</a></li>
                  </ul>
        </a>
        <a href="#about">about</a>
        <a href="#doctors">doctors</a>
        <a href="#book">book</a>
        <a href="#review">review</a>
        <a href="#blogs">blogs</a>
     --> 
       
     <ul>
            <li><a href="#home">Home</a></li>
        
        
            <li><a href="#doctors">Doctors</a>
            
            </li>
        
        
            <li class="drop-down"><a href="">Medicines</a>
            
                    <!-- <a href="#Contact">Contact <i><img src="images/icon-arrow-light.svg" alt="arrow-icon"></i></a> -->
                    <ul class="visibility">
                          <li> <a href="#Contact">Allopathy</a></li>
                          <li><a href="#Newsletter">Ayuervedic</a></li>
                          <li><a href="#Linkedin">Generic</a></li>
                          <li><a href="#Linkedin">Homeopathy</a></li>
                      </ul>
            </li>

            <li class="drop-down"><a href="">Area</a>
                <ul class="visibility">
                    <li> <a href="#Contact">By Name</a></li>
                    <li> <a href="#Contact">By Pincode</a></li>
                </ul></li>
            <li><a href="article.html">Articles</a>
            </li>
            <li><a href="/login/login.html">Login</a>
            </li>
        </ul>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>
   
</header>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>